<body>

    <!-- ========== Start header navbar ========== -->
    <%-include("header.ejs")%>
        <!-- ========== End navbar ========== -->
        <div class="section_sand">
            <div class="section_package_one">
                <img src="/images/banner_img/banner_destination_img.svg" alt="" loading="lazy">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar">
                    </div>
                    <div class="tour_section_header">
                        <h1 class="section_title capitilize small_center" data-aos="fade-right"
                            data-aos-duration="1000">
                            Destinations
                        </h1>
                        <p class="section_content small_center" data-aos="zoom-in-down" data-aos-duration="1000"
                            data-aos-easing="linear">Discover your next adventure, where every click
                            leads to a new experience. Seamlessly create and organize your travel plans, leaving no
                            destination uncharted.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="dropdown">
                    <input class="text-box" type="text" placeholder="Sort by Popularity" readonly>
                    <div class="options">
                        <div onclick="show('HTML')">Plan 1</div>
                        <div onclick="show('CSS')">Plan 2</div>
                    </div>
                </div>
            </div>
            <div class="container destination_card_items">
                <div class="row">
                    <% destinationData.forEach((destination, index)=> { %>
                        <div class="col-md-6 col-xl-6 col-12">
                            <a href="/dubai">
                                <div class="adventure_card"
                                    style="background-image: url(/images/sandtours/adventure.svg); background-repeat: no-repeat;">
                                    <div class="seven_packages">
                                        <p>7 Packages</p>
                                    </div>
                                    <div class="Dubai">
                                        <h1>
                                            <%= destination.destination %>
                                        </h1>
                                        <p>
                                            <%= destination.shortDescription %>
                                        </p>
                                        <div class="explore">
                                            <button>Explore </button>
                                            <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                </div>
            </div>

            <!-- ========== Start travel plan Section ========== -->
            <div class="section_travel">
                <div class="container">
                    <div class="section_travel_box">
                        <img src="/images/travel img/travel men.svg" alt="" class="section_travel_img">
                        <div class="section_travel_items">
                            <h2 class="section_travel_content">Ensure your travel plans align seamlessly with your
                                Schedule!</h2>
                            <h1 class="section_travel_title">Customize your very own travel experience.</h1>
                            <div class="section_package_btn">
                                <a href="/activities"><button type="button" class="btn btn-darkblue">
                                        Curate Your Trip
                                    </button></a>
                                <div class="section_curate_arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16"
                                        fill="none">
                                        <path d="M2.72725 12.7727L12.2727 3.22728" stroke="white" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M2.72725 3.22728L12.2727 3.22728L12.2727 12.7727" stroke="white"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_travel_mobile">
                <div class="container">
                    <div class="section_travel_box">
                        <img src="/images/travel img/travel men_mobile.svg" alt="" class="section_travel_img">
                        <div class="section_travel_items">
                            <h2 class="section_travel_content">Ensure your travel plans align seamlessly with your
                                Schedule!</h2>
                            <h1 class="section_travel_title">Customize your very own travel experience.</h1>
                            <div class="section_travel_btn"> <button class=" btn btn-darkblue">Curate Your Trip</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== End travel plan Section ========== -->

            <!-- ========== Start Section_faq ========== -->
            <div class="section_faq">
                <div class="container">
                    <div class="section_faq_box">
                        <div class="section_title">Frequently Asked Questions</div>
                        <div class="section_faq_tab">
                            <button type="button" class="btn btn-yellow-gradient">Section 1</button>
                            <button type="button" class="btn btn-yellow-gradient">Section 2</button>
                            <button type="button" class="btn btn-yellow-gradient">Section 3</button>
                            <button type="button" class="btn btn-yellow-gradient">Section 4</button>
                            <button type="button" class="btn btn-yellow-gradient">Section 5</button>
                        </div>
                        <div class="accordion_box">
                            <div class="accordion">
                                <% faqData.forEach((faq, index)=> { %>
                                    <div class="at-item">
                                        <div class="section-at-title active">
                                            <h2>
                                                <%= faq.question %>
                                            </h2>
                                            <hr>
                                        </div>
                                        <div class="at-tab" style="display: none;">
                                            <!-- Set display to none initially -->
                                            <%= faq.answer %>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== End Section_faq ========== -->
            <div class="about_gradient_topright"></div>
            <div class="about_gradient_bottomleft"></div>
            <!-- ========== Start footer ========== -->
            <%-include("footer.ejs")%>
                <!-- ========== End footer ========== -->
                <script>
                    // faq_section
                    $(document).ready(function () {
                        $(".section-at-title").click(function () {
                            $(this)
                                .toggleClass("active")
                                .next(".at-tab")
                                .slideToggle()
                                .parent()
                                .siblings()
                                .find(".at-tab")
                                .slideUp()
                                .prev()
                                .removeClass("active");
                        });
                    });
                    // faq_end_section
                </script>

                <!-- ========== Dropdown ========== -->
                <script>
                    function show(value) {
                        document.querySelector(".text-box").value = value;
                    }

                    let dropdown = document.querySelector(".dropdown");
                    dropdown.onclick = function () {
                        dropdown.classList.toggle("active");
                    };
                </script>
                <!-- =========Dropdown ========== -->
</body>